*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}
.grid-container{
    display: grid;
    grid-template-columns: 200px 200px 500px;
    grid-template-rows: 200px 200px 300px;
    gap: 20px;
    width: 80%;
    max-width :1000px;
}
.grid-item {
    overflow: hidden;
}
.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 5px;
}
.large{
    grid-column: span 1;
    grid-row: span 2;
}
.wide{
    grid-column: span  2;
}
